body{
    background-color: rgb(14, 247, 216); 
}

table, tr, th, td{
    border: 3px solid black;
}

.verde {
    background-color: greenyellow;
}
.black {
    background-color: black;
}
.rojo {
    background-color: red;
}
.amarrillo{
    color: yellow;
}
h1{
    text-align: center;
}
table{
    margin: 0 auto;
}